header{
    background-color: rgb(15, 101, 156);
  
}

main{
    background-color:  rgb(15, 101, 156);
}

footer img{

    width: 2rem;
   
    align-items: baseline;
    vertical-align: middle;
    
}


header>nav>a{
   
    color: #000000;
    margin: 3rem;
    
}

header>nav{
    text-align: center;
    padding: 1rem;
}
.about img{
    width: 50%;
    padding: .5rem;
    display: block;
    margin: auto;
}

nav>a:hover{
    color: rgb(0, 185, 46);}

.career img{
    margin: 1rem 4.5%;
     width: 40%;
     
    
 }

 footer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
 }
footer div{
    width: 50%;
text-align: center;

}

body{
    margin: 0;
}

 .about{
    padding: .25rem;
  
}

.career{
    padding: .25rem;
}





@media (min-width:1000px)
{

  
main>img{
    max-width: 65%;
    display: block;
    margin: 0 auto;
    height: auto;
   
}

.about img{
  width: 20rem;
  justify-content: center;
  
}

h1{
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    
}

.about{
   
    font-size: larger;
    
}


header>nav{
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    padding-top: 0;
}

footer {
    display: flex;       
    justify-content: space-around; 
    align-items: flex-end;     
    padding: 20px;          
    font-size: large; 
    color: black;
    flex-wrap: nowrap;     
    margin-top: 5rem;  
      
}
footer div {
    display: flex;          
    align-items: center;    
    gap: 10px;            

}

.about-content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: nowrap; 
    gap: 10px; 
}

.about-content img {
    flex: 0 0 auto; 
    width: 30%;
    max-width: 100%; 
}

.career{
    font-size: larger;
}


footer :hover{
    color: rgb(0, 185, 46);
}
}

